<section class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="themes/images/carousel/banner-3.jpg" alt="" />
            </li>
            <li>
                <img src="themes/images/carousel/banner-4.jpg" alt="" />
            </li>
        </ul>
    </div>
</section>
<section class="header_text">
    Có 2 kiểu công ty, kiểu thứ nhất luôn cố gắng để lấy tiền của khách hàng và kiểu thứ hai luôn cố gắng giảm thiểu chi phí cho khách hàng.
    <br />Chúng tôi là kiểu thứ hai :))
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Sản phẩm
                                    <strong>Đặc trưng</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button"
                                href="#myCarousel" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    {{#each products}}
                                    <li class="span3">                                        
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="product_detail"><img src="{{imagePath}}"
                                                        alt="" /></a></p>
                                            <a href="product_detail" class="title">{{title}}</a><br />
                                            <a href="products" class="category">{{category}}</a>
                                            <p class="price">${{price}}</p>
                                        </div>                                        
                                    </li>
                                    {{/each}}
                                </ul>                                
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    {{#each products}}
                                    <li class="span3">                                        
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="product_detail"><img src="{{imagePath}}"
                                                        alt="" /></a></p>
                                            <a href="product_detail" class="title">{{title}}</a><br />
                                            <a href="products" class="category">{{category}}</a>
                                            <p class="price">${{price}}</p>
                                        </div>                                        
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Sản phẩm
                                    <strong>Mới nhất</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button"
                                href="#myCarousel-2" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-2" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    {{#each products}}
                                    <li class="span3">                                        
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="product_detail"><img src="{{imagePath}}"
                                                        alt="" /></a></p>
                                            <a href="product_detail" class="title">{{title}}</a><br />
                                            <a href="products" class="category">{{category}}</a>
                                            <p class="price">${{price}}</p>
                                        </div>                                        
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    {{#each products}}
                                    <li class="span3">                                        
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="product_detail"><img src="{{imagePath}}"
                                                        alt="" /></a></p>
                                            <a href="product_detail" class="title">{{title}}</a><br />
                                            <a href="products" class="category">{{category}}</a>
                                            <p class="price">${{price}}</p>
                                        </div>                                        
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row feature_box">
                <div class="span4">
                    <div class="service">
                        <div class="responsive">
                            <img src="themes/images/feature_img_2.png" alt="" />
                            <h4>Thiết kế <strong>hiện đại</strong></h4>
                            <p>Những sản phẩm luôn luôn được thiết kế hiện đại, theo kịp xu hướng.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="customize">
                            <img src="themes/images/feature_img_1.png" alt="" />
                            <h4>Giao hàng <strong>miễn phí</strong></h4>
                            <p>Dịch vụ giao hàng tận nơi - nhanh chóng - miễn phí.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="support">
                            <img src="themes/images/feature_img_3.png" alt="" />
                            <h4>24/7 Hỗ trợ <strong>Online</strong></h4>
                            <p>Chúng tôi luôn hỗ trợ các bạn tốt nhất có thể.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_client">
    <h4 class="title"><span class="text">Thương hiệu</span></h4>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/14.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/35.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/1.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/2.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/3.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/4.png"></a>
        </div>
    </div>
</section>