<section class="header_text sub">
	<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products">
	<h4><span>Sản phẩm mới</span></h4>
</section>
<section class="main-content">

	<div class="row">
		<div class="span9">
			<ul class="thumbnails listing-products">
				{{#each products}}
				<li class="span3">
					<div class="product-box">
						<span class="sale_tag"></span>
						<a href="/product_detail/{{_id}}"><img alt="" src="{{imagePath}}"></a><br />
						<a href="/product_detail/{{_id}}" class="title">{{title}}</a><br />
						<a href="#" class="category">{{category}}</a>
						<p class="price">${{price}}</p>
					</div>
				</li>
				{{/each}}
			</ul>
			<hr>
			<div class="pagination pagination-small pagination-centered">
				<ul>
					<li><a href="#">Prev</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
		<div class="span3 col">
			<div class="block">
				<ul class="nav nav-list">
					<li class="nav-header">PHÂN LOẠI CHI TIẾT</li>
					<li><a href="products">Nullam semper elementum</a></li>
					<li class="active"><a href="/products">Phasellus ultricies</a></li>
					<li><a href="/products">Donec laoreet dui</a></li>
					<li><a href="/products">Nullam semper elementum</a></li>
					<li><a href="/products">Phasellus ultricies</a></li>
					<li><a href="/products">Donec laoreet dui</a></li>
				</ul>
				<br />
				<ul class="nav nav-list below">
					<li class="nav-header">THƯƠNG HIỆU</li>
					<li><a href="/products">Adidas</a></li>
					<li><a href="/products">Nike</a></li>
					<li><a href="/products">Dunlop</a></li>
					<li><a href="/products">Yamaha</a></li>
				</ul>
			</div>
			<div class="block">
				<h4 class="title">
					<span class="pull-left"><span class="text">Randomize</span></span>
					<span class="pull-right">
						<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button"
							href="#myCarousel" data-slide="next"></a>
					</span>
				</h4>
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="active item">
							<ul class="thumbnails listing-products">
								
								<li class="span3">
									
									<div class="product-box">
										{{#each products}}
										<span class="sale_tag"></span>
										<img alt="" src="{{imagePath}}"><br />
										<a href="/product_detail/{{_id}}" class="title">{{title}}</a><br />
										<a href="#" class="category">{{category}}</a>
										<p class="price">${{price}}</p>
										{{/each}}
									</div>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h4 class="title"><strong>Bán chạy nhất</strong></h4>
				<ul class="small-product">
					<li>
						<a href="#" title="Praesent tempor sem sodales">
							<img src="themes/images/ladies/3.jpg" alt="Praesent tempor sem sodales">
						</a>
						<a href="#">Đầm ôm</a>
					</li>
					<li>
						<a href="#" title="Luctus quam ultrices rutrum">
							<img src="themes/images/ladies/4.jpg" alt="Luctus quam ultrices rutrum">
						</a>
						<a href="#">Áo thun xám</a>
					</li>
					<li>
						<a href="#" title="Fusce id molestie massa">
							<img src="themes/images/ladies/5.jpg" alt="Fusce id molestie massa">
						</a>
						<a href="#">Đầm đen huyền</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>